Tema11/Ejemplo4/clientes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="listaclientes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cliente" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"></xs:element>
                            <xs:element name="apellido" type="xs:string"></xs:element>
                            <xs:choice>
                                <xs:element name="dni" type="tipoDni"></xs:element>
                                <xs:element name="nie" type="xs:string"></xs:element>
                            </xs:choice>
                            <xs:element name="compras" type="tipoCompra"></xs:element>
                            <xs:element name="regalo" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="español" type="xs:string" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- TIPOS PERSONALIZADOS -->
    <!-- LONGITUD DNI -->
    <xs:simpleType name="tipoDni">
        <xs:restriction base="xs:string">
            <xs:length value="9"></xs:length>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoCompra">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="3000"></xs:minInclusive>
            <xs:maxInclusive value="5000"></xs:maxInclusive>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoEspañol">
        <xs:restriction base="xs:string">
            <xs:enumeration value="si"></xs:enumeration>
            <xs:enumeration value="no"></xs:enumeration>
            <xs:enumeration value="SI"></xs:enumeration>
            <xs:enumeration value="NO"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>