Tema11/Ejercicio5/concesionario.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="concesionario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="coche" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marca" type="xs:string"></xs:element>
                            <xs:element name="modelo" type="xs:string"></xs:element>
                            <xs:choice minOccurs="1">
                                <xs:element name="cilindrada" type="xs:decimal"></xs:element>
                                <xs:element name="caballos" type="tipoCaballos"></xs:element>
                            </xs:choice>
                            <xs:element name="combustible" type="tipoCombustible"></xs:element>
                            <xs:element name="precio" type="xs:string"></xs:element>
                            <xs:element name="año" type="tipoAños" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                            <xs:element name="color" type="xs:string"></xs:element>
                            <xs:element name="interesado" type="tipoDni" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                            <xs:element name="accesorios" type="tresAccesorios" minOccurs="0"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="matricula" type="xs:string" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="provincia" type="xs:string" use="required"></xs:attribute>
        </xs:complexType>
    </xs:element>

    <!-- TIPOS PERSONALIZADOS -->
    <!-- TIPO COMBUSTIBLE -->
    <xs:simpleType name="tipoCombustible">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Diesel"></xs:enumeration>
            <xs:enumeration value="Gasolina"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <!-- CABALLOS -->
    <xs:simpleType name="tipoCaballos">
        <xs:restriction base="xs:unsignedByte">
            <xs:minInclusive value="60"></xs:minInclusive>
            <xs:maxInclusive value="120"></xs:maxInclusive>
        </xs:restriction>
    </xs:simpleType>

    <!-- AÑOS DE 4 CIFRAS -->
    <xs:simpleType name="tipoAños">
        <xs:restriction base="xs:unsignedShort">
            <xs:totalDigits value="4"></xs:totalDigits>
        </xs:restriction>
    </xs:simpleType>

    <!-- DNI -->
    <xs:simpleType name="tipoDni">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{8}[A-Z]"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>

    <!-- LISTA DE ACCESORIOS -->
    <xs:simpleType name="tipoAccesorio">
        <xs:list itemType="xs:string"></xs:list>
    </xs:simpleType>

    <!-- ACCESORIOS -->
    <xs:simpleType name="tresAccesorios">
        <xs:restriction base="tipoAccesorio">
            <xs:maxLength value="3"></xs:maxLength>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>